
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,#06063f , lightgray );

    min-height: 100vh;
}

header {
    background-color: rgb(8, 5, 43);
    color: white;
    font-weight: bold;
    width: 100%;
    justify-content:space-between; 
    box-shadow: 5px 5px 15px black;
    margin-bottom: 20px;
}

header > div > h1{
    color: white;
    
    
}

 ol, li, a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    list-style: none;
    margin: 0px;
  
}

.menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section{

    border-radius: 5px;
    padding: 10px;
    text-align: center;

}

section > div {
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
}

img{
    max-width: 200px;/*apenas para testar o width*/
    

}

.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    

}

.perfil img{
    align-self: baseline;
}

.ex li{
    background-color: #06063f;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    
}

.ex li:hover{
    background-color: #1f1f46;
    box-shadow: 5px 5px 5px black;   
}

.ex li:active{
    box-shadow: inset 5px 5px 5px black;
    transition: 0.3s;
}

.ex img{
    display: block;
    width: 158px;
    height: 100px;
}


footer{
    background-color: #06063f;
    color: white;
    padding: 2px;
    text-align: center;
}

footer>p>a{
    text-decoration: none;
    color: white;
}

footer>p>a:hover{
    text-decoration:underline;
}

a.externo::after{
    content: '\1F517';
}

